/*common*/
.busn_tit{
    font-size:26px;
    border-left:6px solid #f39700;
    color:#013b59;
    padding-left:20px;
    font-weight:bold;
    margin-bottom:28px;
}
.busn_tit_bg{
    background: url('../imgs/3_business/bg_tit_busn.jpg') no-repeat center;
    height:50px;
    line-height:50px;
    font-size:24px;
    color:#555555;
    text-align:center;
    padding:10px 0;
    border-top:1px solid #f5be63;
    border-bottom:1px solid #f5be63;
    margin-top:40px;
    margin-bottom:40px;
    &.style_1{
        background: url('../imgs/3_business/bg_tit_busn_1.jpg') no-repeat center;
    }
}
/*.breadcrumb {
    height: 30px;
    line-height: 30px;
    padding: 20px 0;

    li {
        float: left;
        font-size: 14px;

        a {
            color: #5b5b5b;
            display: block;
            background: url('../imgs/gy/child_nav_bg_.png') no-repeat left center;
            padding-left: 15px;
            padding-right: 31px;
            cursor: pointer;

            span.icon {
                width: 17px;
                height: 11px;
                display: inline-block;
                *display: inline;
                margin-left: 3px;
                background: url('../imgs/gy/icon_arrow_.png') no-repeat center left;
                -webkit-transition: all .3s cubic-bezier(0.23,1,.32,1);
                transition: all .3s cubic-bezier(0.23,1,.32,1);
            }

            &.hover {
                text-decoration: none;

                .icon {
                    background-position: center right;
                }
            }
        }

        &:last-child {
            background: url('../imgs/gy/child_nav_bg.png') no-repeat left center;
            padding-left: 33px;
        }

        dl {
            background: #EAEAEA;
            margin-top: 5px;
            position:absolute;
            opacity:0;
            filter:alpha(opacity=0);
            padding:5px;
        }

        dd {
            a {
                padding-top:3px;
                padding-bottom:3px;
                padding-left:10px;
                background: none;
                color: #666;
                -webkit-transition: all .3s cubic-bezier(0.23,1,.32,1);
                -moz-transition: all .3s cubic-bezier(0.23,1,.32,1);
                -o-transition: all .3s cubic-bezier(0.23,1,.32,1);
                transition: all .3s cubic-bezier(0.23,1,.32,1);

                &:before {
                    -webkit-transition: all .3s cubic-bezier(0.23,1,.32,1);
                    -moz-transition: all .3s cubic-bezier(0.23,1,.32,1);
                    -o-transition: all .3s cubic-bezier(0.23,1,.32,1);
                    transition: all .3s cubic-bezier(0.23,1,.32,1);
                }

                &:hover {
                    background: #013b59;
                    background: #F39700;
                    color: #FFF;
                    text-decoration:none;
                    
                }
            }
        }
    }
}*/
.areaModel{
    height:327px;
    .fl_l{
        width:500px;
        height:100%;
        b{font-weight:normal;font-size:22px;color:#5b5b5b;margin-bottom:10px;display:block}
        p{
            line-height:32px;
            font-size:16px;
            margin-bottom:1.5em;
            color:#5b5b5b;
        }
    }
    .fl_r{
        height:100%;
        width:605px;
        background: url('../imgs/3_business/bg_area.jpg') no-repeat right bottom;
    }
    &.style_2{
        .fl_l{

        }
        .fl_r{
            margin-top:-40px;
        }
    }
    &.style_3{
        height:340px;
        .fl_l{
            float:right;
            .n_child{
                margin-bottom:25px;
            }
            p{
                margin-bottom:1.2em;
            }
        }
        .fl_r{
            float:left;
            height: 330px;
        }
    }
}
.n_child{
    margin-bottom:40px;
    font-size: 0;
    span{
        height:6px;
        width:46px;
        background:#f39700;
        font-size:0;
        display:inline-block;
        *display:inline;
    }
}
/*page*/
.p_business{
    img{max-width:100%;}
    .box1{
        height:260px;
        background:url(../imgs/3_business/pic_business_1.jpg) no-repeat center;
        .sele{
            height:85px;
            position:relative;
        }
        
        p{
            font-size:16px;
            line-height:2;
            color:#5b5b5b;
            padding-left:25px;
        }
    }
    .box2{
        height:591px;
        background:#f39700;
        .layer{
            height:100%;
            overflow:hidden;
            position:relative;
            background: url('../imgs/3_business/layer_yl.png') no-repeat center center;
            .conwidth{
                height:100%;
                .fl_l{
                    width:755px;
                    height:100%;
                    h1{
                        font-size:44px;
                        color:#1e1e1e;
                        font-weight:normal;
                        margin-top:130px;
                        margin-bottom:40px;
                    }
                    p{
                        font-size:18px;
                        line-height:2.3;
                    }
                    .btn_details{
                        margin-top:30px;
                    }
                }
            }
        }
    }
    .box3{
        height:591px;
        background:#f39700;
        .layer{
            height:100%;
            overflow:hidden;
            position:relative;
            background: url('../imgs/3_business/layer_bl.png') no-repeat center center;
            .conwidth{
                height:100%;
                .fl_r{
                    width:755px;
                    height:100%;
                    text-align:right;
                    h1{
                        font-size:44px;
                        color:white;
                        font-weight:normal;
                        margin-top:130px;
                        margin-bottom:40px;
                    }
                    p{
                        font-size:18px;
                        line-height:2.3;
                        color:white;
                    }
                    .btn_details_1{
                        margin-top:30px;
                    }
                }
            }
        }
    }
    .box4{
        height:591px;
        background:#013b59;
        .layer{
            height:100%;
            overflow:hidden;
            position:relative;
            background: url('../imgs/3_business/layer_bl_l.png') no-repeat center center;
            .conwidth{
                height:100%;
                .fl_l{
                    width:755px;
                    height:100%;
                    h1{
                        font-size:44px;
                        color:white;
                        font-weight:normal;
                        margin-top:130px;
                        margin-bottom:40px;
                    }
                    p{
                        font-size:18px;
                        line-height:2.3;
                        color:white;
                    }
                    .btn_details_1{
                        margin-top:30px;
                    }
                }
            }
        }
    }
    .box5{
        height:591px;
        background:#013b59;
        .layer{
            height:100%;
            overflow:hidden;
            position:relative;
            background: url('../imgs/3_business/layer_ly_r.png') no-repeat center center;
            .conwidth{
                height:100%;
                .fl_r{
                    width:755px;
                    height:100%;
                    text-align:right;
                    h1{
                        font-size:44px;
                        color:#1e1e1e;
                        font-weight:normal;
                        margin-top:130px;
                        margin-bottom:40px;
                    }
                    p{
                        font-size:18px;
                        line-height:2.3;
                        color:#1e1e1e;
                    }
                    .btn_details{
                        margin-top:30px;
                    }
                }
            }
        }
    }
    .box6{
        height:494px;
        background: url('../imgs/3_business/pic_business_6.jpg') no-repeat center;
        padding-top:30px;
        .conwidth{
            border-top:1px solid #f39700;
            border-bottom:1px solid #f39700;
            ul{
                display:inline-block;
                *display:inline;
                margin:33px auto;
                li{
                    float:left;
                    width:393px;
                    height:376px;
                    position:relative;
                    .tit{
                        height:97px;
                        background: url('../imgs/3_business/layer_tit.png') no-repeat center;
                        width:100%;
                        position:absolute;
                        bottom:0;
                        left:0;
                        a{
                            display:inline-block;
                            *display:inline;
                            background: url('../imgs/gy/icon_arrow_r.png') no-repeat right center;
                            padding-right:40px;
                            color:#363636;
                            font-size:20px;
                            margin-top:30px;
                            margin-left:40px;
                            &:hover{
                                text-decoration:none;
                                color:#013b59;
                            }
                        }
                    }
                }
            }
        }
    }
}
.p_epc{
    background:#f8f8f8;
    padding-bottom:60px;
    .box1{
        .sele{
            height:85px;
        }
        .desc{
            padding-top:10px;
            p{
                font-size:18px;
                color:#5b5b5b;
                line-height:34px;
            }
        }
        
    }
    .box2{
        .conwidth{
            overflow:hidden;
            margin-top:136px;
            margin-bottom:60px;
        }
        .fl_l{

        }
        .fl_r{

        }
    }
    .box5{
        padding-bottom:55px;
    }
    .iconList{
        width:1180px;
        margin:60px auto;
        margin-bottom:0;
        background:white;
        ul{
            overflow:hidden;
            padding-left: 5px;
            li{
                width:380px;
                height:248px;
                float:left;
                margin:10px 5px;
                .box{
                    border:1px solid #e1e1e1;
                    padding:0 45px;
                    padding-bottom: 41px;
                    .icon{
                        height:141px;
                        border-bottom:1px solid #006bb7;
                        &.icon_1{
                            background: url('../imgs/5_engineering/icon_001.png') no-repeat center bottom;
                        }
                        &.icon_2{
                            background: url('../imgs/5_engineering/icon_002.png') no-repeat center 52px;
                        }
                        &.icon_3{
                            background: url('../imgs/5_engineering/icon_003.png') no-repeat center 52px;
                        }
                        &.icon_4{
                            background: url('../imgs/5_engineering/icon_004.png') no-repeat center 52px;
                        }
                        &.icon_5{
                            background: url('../imgs/5_engineering/icon_005.png') no-repeat center 52px;
                        }
                        &.icon_6{
                            background: url('../imgs/5_engineering/icon_006.png') no-repeat center 52px;
                        }
                        &.icon_7{
                            background: url('../imgs/5_engineering/icon_007.png') no-repeat center 52px;
                        }
                        &.icon_8{
                            background: url('../imgs/5_engineering/icon_008.png') no-repeat center 52px;
                        }
                        &.icon_9{
                            background: url('../imgs/5_engineering/icon_009.png') no-repeat center 52px;
                        }
                    }
                    .name{
                        font-size:20px;
                        color:#006bb7;
                        padding:17px 0;
                        text-align:center;
                        white-space:nowrap;
                    }
                    &.boxs2{
                        padding-left:28px;
                        padding-right:28px;
                    }
                    &:hover{
                        border:2px solid #f39700;
                        cursor:pointer;
                        .icon{
                            border-bottom:1px solid #f39700;
                            height:140px;
                            &.icon_1{
                                background: url('../imgs/5_engineering/icon_001_.png') no-repeat center bottom;
                            }
                            &.icon_2{
                                background: url('../imgs/5_engineering/icon_002_.png') no-repeat center 51px;
                            }                                              
                            &.icon_3{                                      
                                background: url('../imgs/5_engineering/icon_003_.png') no-repeat center 51px;
                            }                                              
                            &.icon_4{                                      
                                background: url('../imgs/5_engineering/icon_004_.png') no-repeat center 51px;
                            }                                              
                            &.icon_5{                                      
                                background: url('../imgs/5_engineering/icon_005_.png') no-repeat center 51px;
                            }                                             
                            &.icon_6{                                     
                                background: url('../imgs/5_engineering/icon_006_.png') no-repeat center 51px;
                            }                                             
                            &.icon_7{                                     
                                background: url('../imgs/5_engineering/icon_007_.png') no-repeat center 51px;
                            }                                              
                            &.icon_8{                                      
                                background: url('../imgs/5_engineering/icon_008_.png') no-repeat center 51px;
                            }                                              
                            &.icon_9{                                      
                                background: url('../imgs/5_engineering/icon_009_.png') no-repeat center 51px;
                            }
                        }
                        .name{
                            color:#f39700;
                        }
                    }
                }
            }
        }
    }
}
.p_responsibility{
    .childNav{
        height:70px;
    }
    .title{
        h1{
            color:#013b59;
            font-size:26px;
        }
        span{
            font-size:20px;
            color:#5b5b5b;
            display:block;
            padding:10px 0;
        }
        
        
    }
    .waterfall{
        padding-top:20px;
        padding-bottom:40px;
        dl{
            position:relative;
            overflow:hidden;
            dd{
                width:280px;
                float:left;
                height:100%;
                margin-left:20px;
                &:first-child{
                    margin-left:0;
                }
                .box{
                    position:relative;
                    margin-bottom:20px;
                    &.bg_ly{
                        background:#f39700;
                        padding:34px;
                    }
                    &.bg_bl{
                        background:#006bb7;
                        padding:34px;
                    }
                    &.bg_bl2{
                        background:#013a58;
                        padding:34px;
                    }
                    i{
                        width:77px;
                        height:77px;
                        line-height:40px;
                        text-indent:10px;
                        font-style:normal;
                        position:absolute;
                        left:0;
                        top:0;
                        font-size:20px;
                        color:white;
                        &.bg_bl{
                            background: url('../imgs/7_social_responsibility/triangle_bl.png') no-repeat center;
                        }
                        &.bg_yl{
                            background: url('../imgs/7_social_responsibility/triangle_yl.png') no-repeat center;
                        }
                    }
                    .icon{
                        text-align:center;
                        padding-bottom:22px;
                    }
                    h1{font-size:18px;color:white;}
                    .split{
                        padding:7px 0;
                        span{
                            width:19px;
                            height:6px;
                            background:white;
                            font-size:0;
                            display:block;
                        }
                    }
                    p{
                        font-size:12px;
                        color:white;
                        line-height:24px;
                    }
                }
            }
        }
    }
}
.p_project{
    .childNav{
        height:77px;
    }
    .box1{
        background:#f5f5f5;
        padding:38px 0 60px 0;
        .tit{
            color:#013b59;
            font-size:24px;
        }
        .map{
            padding-top:10px;
            width:1150px;
            .showDetail{
                border:2px solid #013a58;
                width:502px;
                position:absolute;
                top:30%;
                left:20%;
                background:white;
                .content{
                    padding:16px 35px;
                    .name{
                        padding-left:50px;
                        background-image: url('../imgs/gy/icon_posistion.png');
                        background-repeat:no-repeat;
                        background-position:left center;
                        height:25px;
                        line-height:25px;
                        color:#888888;
                        position:relative;
                        a{
                            position:absolute;
                            width:20px;
                            height:20px;
                            cursor:pointer;
                            right:0;
                        }
                    }
                    .list{
                        padding:20px 0;
                        border:1px solid #b2c4cd;
                        border-left:0;
                        border-right:0;
                        margin:10px 0;
                        table{
                            tr{
                                th{
                                    color:#f39700;
                                    width:90px;
                                    font-size:13px;
                                    padding:5px 0;
                                }
                                td{
                                    font-size:13px;
                                    white-space:nowrap;
                                    padding:5px 0;
                                }
                            }
                        }
                        
                    }
                    .text_c{
                        padding-top:5px;
                    }
                }
            }
        }
        .tab{
            position:absolute;
            right:0;
            top:177px;
            .item{
                border:1px solid #f39700;
                width:66px;
                height:66px;
                position:relative;
                cursor:pointer;
                span{
                    display:block;
                    text-align:center;
                    position:absolute;
                    bottom:4px;
                    left:0;
                    width:100%;
                    color:#f39700;
                    
                }
                &.icon_1{
                    background-image: url('../imgs/4_project/icon_global.png');
                    background-repeat:no-repeat;
                    background-position: center 7px;
                }
                &.icon_2{
                    background-image: url('../imgs/4_project/icon_china.png');
                    background-repeat:no-repeat;
                    background-position: center 7px;
                }
                &:last-child{
                }
                &.current{
                    background-color:#013b59;
                    border-color:#013b59;
                    span{
                        color:white;
                    }
                    &.icon_1{
                        background-image: url('../imgs/4_project/icon_global_.png');
                    }
                    &.icon_2{
                        background-image: url('../imgs/4_project/icon_china_.png') ;
                    }
                }
            }
        }
    }
    .project_desc{
        .tit{
            color:#013b59;
            font-size:24px;
        }
        .subTitle{
            font-size: 20px;
            color: #5b5b5b;
            display: block;
            padding: 10px 0;
        }
        .wrap{
            overflow:hidden;
            padding-top:33px;
            .fl_l{
                width:55px;
                padding-top:47px;
                span{
                    width:6px;
                    height:46px;
                    background:#f39700;
                    display:block;
                }
            }
            .fl_r{
                width:1125px;
                padding-bottom:60px;
                h2{
                    color:#013b59;
                    font-size:20px;
                    font-weight:normal;
                }
                .t1{
                    width:100%;
                    margin-top:20px;
                    tr{
                        border-bottom:1px solid white;
                        th{
                            width:145px;
                            background:#f39700;
                            padding:6px 0px 6px 15px;
                            img{
                                vertical-align:middle;
                                margin-right:15px;
                            }
                            font-size:16px;
                            color:white;
                        }
                        td{
                            font-size:14px;
                            color:#3c3c3c;
                            background:#eaeaea;
                            padding-left:34px;
                        }
                    }
                }
                .t2{
                    width:100%;
                    margin-top:20px;
                    tr{
                        border-bottom:1px solid white;
                        th{
                            width:155px;
                            background:#013b59;
                            padding:8px 0px 8px 15px;
                            font-size:16px;
                            color:#f39700;
                            vertical-align:top;
                        }
                        td{
                            font-size:14px;
                            color:#3c3c3c;
                            background:#eaeaea;
                            padding-left:24px;
                            line-height:2;
                        }
                    }
                }
                .imgList{
                    background:#eaeaea;
                    padding:20px;
                    margin-top:21px;
                    padding-bottom:8px;
                    ul{
                        li{
                            width:353px;
                            height:279px;
                            float:left;
                            margin-left:12px;
                            margin-bottom:12px;
                            position:relative;
                            &:first-child{margin-left:0}
                            img{

                            }
                            .layer{
                                display:none;
                                position:absolute;
                                left:0;
                                top:0;
                                width:100%;
                                height:100%;
                                background: rgba(0, 0, 0, 0.75) url('../imgs/gy/icon_zoom.png') no-repeat center;
                                cursor:pointer;
                            }
                            &:hover{
                                .layer{
                                    display:block;
                                }
                            }
                        }
                    }
                }
                .imgbox{
                    height:376px;
                    margin-top:20px;
                    position:relative;
                    .bgLy{
                        position:absolute;
                        width:100%;
                        height:100%;
                        background: url('../imgs/4_project/pic_imgs_list.png') no-repeat right center;
                        &.bg_l{
                            background: url('../imgs/4_project/pic_imgs_list_l.png') no-repeat right center;
                            .tit{
                                text-align:left;
                                padding-left:40px;
                                background: url(../imgs/4_project/bg_proj_boder.png) no-repeat 238px bottom;
                                h1{
                                    line-height:2.5;
                                }
                            }
                            .desc{
                                padding-left:45px;
                            }
                        }
                        .tit{
                            padding-top: 30px;
                            height: 62px;
                            padding-right:45px;
                            background: url(../imgs/4_project/bg_proj_boder.png) no-repeat 830px bottom;
                            text-align: right;
                            overflow: hidden;
                            h1{
                                font-size: 24px;
                                font-weight: bold;
                                line-height: 3.5;
                                a{
                                    color: #013b59;
                                    &:hover{text-decoration:none}
                                }
                            }
                        }
                        .desc{
                            padding-right:45px;
                            p{
                                color:white;
                                font-size:16px;
                                line-height:2;
                                span{
                                    color:#013b59;
                                    font-weight:bold;
                                }
                            }
                        }
                    }
                }
                .article{
                    p{
                        font-size:14px;
                        color:#5b5b5b;
                        line-height:28px;
                    }
                }
            }
        }
    }
}