<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rgi.zkhcy.front.module.dao.ZkCompInfoDao">
	<cache eviction="FIFO" flushInterval="60000" size="1024"
		readOnly="true" />
	<!-- Result Map -->
	<resultMap id="BaseResultMap"
		type="com.rgi.zkhcy.front.common.bean.dataBean.ZkCompInfoData">
		<result column="id" property="id" />
		<result column="addr" property="addr" />
		<result column="tele" property="tele" />
		<result column="fax" property="fax" />
		<result column="email" property="email" />
		<result column="compName" property="compName" />
		<result column="post" property="post" />
		<result column="website" property="website" />
	</resultMap>

	<!-- zk_zh_comp_info table all fields -->
	<sql id="Base_Column_List">
		id,addr,tele,fax,email,compName,post,website
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
			<if test="addr != null and addr != ''">
				and addr = #{addr}
			</if>
			<if test="tele != null and tele != ''">
				and tele = #{tele}
			</if>
			<if test="fax != null and fax != ''">
				and fax = #{fax}
			</if>
			<if test="email != null and email != ''">
				and email = #{email}
			</if>
			<if test="creattime != null and creattime != ''">
				and creattime = #{creattime}
			</if>
		</trim>
	</sql>

	<!-- 分页查询条件 -->
	<sql id="Example_Where_Clause_Page">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
			<if test="addr != null and addr != ''">
				and addr = #{addr}
			</if>
			<if test="tele != null and tele != ''">
				and tele = #{tele}
			</if>
			<if test="fax != null and fax != ''">
				and fax = #{fax}
			</if>
			<if test="email != null and email != ''">
				and email = #{email}
			</if>
			<if test="creattime != null and creattime != ''">
				and creattime = #{creattime}
			</if>
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="add" parameterType="Object" useGeneratedKeys="true"
		keyProperty="id">
		insert into zk_zh_comp_info(addr,tele,fax,email,creattime)
		values(#{addr},#{tele},#{fax},#{email},#{creattime})
	</insert>

	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete from zk_zh_comp_info
		where id = #{id}
	</delete>

	<!-- 根据id，修改记录 -->
	<update id="updateById" parameterType="Object">
		update zk_zh_comp_info set
		addr=#{addr},tele=#{tele},fax=#{fax},email=#{email},creattime=#{creattime}
		where id=#{id}
	</update>

	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateByObject" parameterType="Object">
		update zk_zh_comp_info set
		<trim suffixOverrides=",">
			<if test="addr != null  ">
				addr=#{addr},
			</if>
			<if test="tele != null  ">
				tele=#{tele},
			</if>
			<if test="fax != null  ">
				fax=#{fax},
			</if>
			<if test="email != null  ">
				email=#{email},
			</if>
			<if test="creattime != null  ">
				creattime=#{creattime},
			</if>
		</trim>
		where id=#{id}
	</update>

	<!-- 根据id查询单条记录 -->
	<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from zk_zh_comp_info where id = #{id}
	</select>

	<!-- 根据非ID 字段查询单条记录 -->
	<select id="queryByObject" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from zk_zh_comp_info
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 根据实体类对象查询列表 -->
	<select id="queryListByObject" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from zk_zh_comp_info
		<include refid="Example_Where_Clause" />
	</select>

	<!-- 分页查询列表 -->
	<select id="queryList4Page" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from zk_zh_comp_info
		<include refid="Example_Where_Clause_Page" />
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY id DESC
			</otherwise>
		</choose>
	</select>

	<!-- 查询记录数 -->
	<select id="queryAmount" resultType="java.lang.Long"
		parameterType="Object">
		select count(1) from zk_zh_comp_info
		<include refid="Example_Where_Clause_Page" />
	</select>

	<!-- 查询所有记录 -->
	<select id="queryAllList" resultMap="BaseResultMap"
		parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from zk_zh_comp_info
		order by id desc
	</select>

</mapper>