<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rgi.zkhcy.front.module.dao.ZkZhProserviceDao">

	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.rgi.zkhcy.front.common.bean.dataBean.ZkZhProserviceData">
		 <result column="id" property="id" />
		 <result column="littitle" property="littitle" />
		 <result column="litcontent" property="litcontent" />
		 <result column="picsrc" property="picsrc" />
		 <result column="currorder" property="currorder" />
		 <result column="addtime" property="addtime" />
		 <result column="adduser" property="adduser" />
		 <result column="updtime" property="updtime" />
		 <result column="upduser" property="upduser" />
		 <result column="status" property="status" />
			</resultMap>

	<!-- zk_zh_proservice table all fields -->
	<sql id="Base_Column_List">
		id,littitle,litcontent,picsrc,currorder,addtime,adduser,updtime,upduser,status
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
									<if test="id != null and id != ''">
				and id = #{id}
			</if>
									<if test="littitle != null and littitle != ''">
				and littitle = #{littitle}
			</if>
									<if test="litcontent != null and litcontent != ''">
				and litcontent = #{litcontent}
			</if>
									<if test="picsrc != null and picsrc != ''">
				and picsrc = #{picsrc}
			</if>
									<if test="currorder != null and currorder != ''">
				and currorder = #{currorder}
			</if>
									<if test="addtime != null and addtime != ''">
				and addtime = #{addtime}
			</if>
									<if test="adduser != null and adduser != ''">
				and adduser = #{adduser}
			</if>
									<if test="updtime != null and updtime != ''">
				and updtime = #{updtime}
			</if>
									<if test="upduser != null and upduser != ''">
				and upduser = #{upduser}
			</if>
									<if test="status != null and status != ''">
				and status = #{status}
			</if>
					</trim>
	</sql>
	
	<!-- 分页查询条件 -->
	<sql id="Example_Where_Clause_Page">
		where 1=1
		<trim suffixOverrides=",">
									<if test="id != null and id != ''">
				and id = #{id}
			</if>
									<if test="littitle != null and littitle != ''">
				and littitle = #{littitle}
			</if>
									<if test="litcontent != null and litcontent != ''">
				and litcontent = #{litcontent}
			</if>
									<if test="picsrc != null and picsrc != ''">
				and picsrc = #{picsrc}
			</if>
									<if test="currorder != null and currorder != ''">
				and currorder = #{currorder}
			</if>
									<if test="addtime != null and addtime != ''">
				and addtime = #{addtime}
			</if>
									<if test="adduser != null and adduser != ''">
				and adduser = #{adduser}
			</if>
									<if test="updtime != null and updtime != ''">
				and updtime = #{updtime}
			</if>
									<if test="upduser != null and upduser != ''">
				and upduser = #{upduser}
			</if>
									<if test="status != null and status != ''">
				and status = #{status}
			</if>
					</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="add" parameterType="Object" useGeneratedKeys="true" keyProperty="id">
		insert into zk_zh_proservice(id,littitle,litcontent,picsrc,currorder,addtime,adduser,updtime,upduser,status)
 values(#{id},#{littitle},#{litcontent},#{picsrc},#{currorder},#{addtime},#{adduser},#{updtime},#{upduser},#{status})
	</insert>
	
	<!-- 删除记录 -->
	<delete id="delete" parameterType="Object">
		delete 	 from zk_zh_proservice where id = #{id}
	</delete>
	
	<!-- 根据id，修改记录 -->
	<update id="updateById" parameterType="Object">
		update zk_zh_proservice set littitle=#{littitle},litcontent=#{litcontent},picsrc=#{picsrc},currorder=#{currorder},addtime=#{addtime},adduser=#{adduser},updtime=#{updtime},upduser=#{upduser},status=#{status} where id=#{id}
	</update>

	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateByObject" parameterType="Object">
		update zk_zh_proservice set 
	<trim  suffixOverrides="," >
	<if test="littitle != null  ">
		littitle=#{littitle},
	</if>
	<if test="litcontent != null  ">
		litcontent=#{litcontent},
	</if>
	<if test="picsrc != null  ">
		picsrc=#{picsrc},
	</if>
	<if test="currorder != null  ">
		currorder=#{currorder},
	</if>
	<if test="addtime != null  ">
		addtime=#{addtime},
	</if>
	<if test="adduser != null  ">
		adduser=#{adduser},
	</if>
	<if test="updtime != null  ">
		updtime=#{updtime},
	</if>
	<if test="upduser != null  ">
		upduser=#{upduser},
	</if>
	<if test="status != null  ">
		status=#{status},
	</if>
	</trim> where id=#{id}
	</update>

	<!-- 根据id查询单条记录 -->
	<select id="queryById" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" /> 
	 from zk_zh_proservice where id = #{id}
	</select>

	<!-- 根据非ID 字段查询单条记录 -->
	<select id="queryByObject" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from zk_zh_proservice
		<include refid="Example_Where_Clause" />
	</select>
	
	<!-- 根据实体类对象查询列表 -->
	<select id="queryListByObject" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from zk_zh_proservice
		<include refid="Example_Where_Clause" />
	</select>
	
	<!-- 分页查询列表 -->
	<select id="queryList4Page" resultMap="BaseResultMap" parameterType="Object">
		select <include refid="Base_Column_List" /> from zk_zh_proservice
		<include refid="Example_Where_Clause_Page" />
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY id DESC
			</otherwise>
		</choose>
	</select>

	<!-- 查询记录数 -->
	<select id="queryAmount" resultType="java.lang.Long" parameterType="Object">
		select count(1) from zk_zh_proservice
		<include refid="Example_Where_Clause_Page" />
	</select>
	
	<!-- 查询所有记录 -->
	<select id="queryAllList" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from zk_zh_proservice
		order by id desc
	</select>
		
</mapper>