.body{width: 1180px; margin: 0 auto; margin-top: 40px; position: relative; height: 1441px;}
.body span{font-size: 26px; color: #013b59; border-left: 6px solid #f39700; padding-left: 30px;  font-weight:bold;}
.body img{position: absolute; top: 134px; left: -38px;}