.gy_header_line3{height: 507px;}
.gy_header_line3 .gy_text{top: 412px;}
.gy_header_line3 .gy_color{background-color: #f39700;}
.gy_header_line3 .gy_text div{color: black;font-weight: bold;}
.gy_header_line3 .gy_text div span:nth-child(2){font-weight: normal;}